.custom-font{
  font-size: 30px;
}

.custom-button > .btn{
  border-radius: 2rem;
}

.custom-footer{
  background: #F0F0F0;
}

.custom-nav{
  overflow: auto;
  height: 3rem;

}

.custom-font{
  font-size: 30px;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-min-height{
    min-height: 325px;
  }

 }
